<ion-content [fullscreen]="true">
  <ion-row class="telaExibicao ion-justify-content-center">
    <ion-col size="3">
      <ion-row class="line-cor">
        <ion-col size="12"></ion-col>
      </ion-row>
      <ion-row class="line-exib">
        <ion-col size="12"></ion-col>
      </ion-row>
      <ion-row class="line-hidle">
        <ion-col size="12"></ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="telaManipulacao ion-justify-content-center">
    <ion-col size="3">
      <ion-row class="telaManipulacao-line ion-justify-content-center">
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-num">
            AC
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-num">
            ()
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-num">
            %
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-simb">
            ÷
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="telaManipulacao-line">
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            7
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            8
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            9
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-simb">
            X
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="telaManipulacao-line">
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            4
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            5
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            6
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-simb">
            -
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="telaManipulacao-line">
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            1
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            2
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            3
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-simb">
            +
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="telaManipulacao-line"> 
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            + / -
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            0
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label">
            ,
          </ion-button>
        </ion-col>
        <ion-col size="3" class="ion-text-center lineInfo">
          <ion-button class="lineInfo-label lineInfo-simb">
            =
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
