<ion-content [fullscreen]="true">
  
  <ion-row class="container">
    <ion-col size="4">
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img">
    </ion-col>

    <ion-col size="8">
      <ion-label>
        <h1>Carlitos</h1>
      </ion-label>
      <ion-label>
        <h3>Professor</h3>
      </ion-label>
      <ion-row>
        <ion-button class="ion-padding" color="dark" shape="round">Seguir</ion-button>
        <ion-button class="ion-padding" color="medium" shape="round">Mensagem</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row class="container">
    <ion-col size="4">
      <ion-label>41.8k</ion-label>
      <h6>Curtidas</h6>
    </ion-col>
    <ion-col size="4">
      <ion-label>853</ion-label>
      <h6>Seguidores</h6>
    </ion-col>
    <ion-col size="4">
      <ion-label>250</ion-label>
      <h6>Amigos</h6>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row class="container">
    <ion-col>
      <h3>Sobre</h3>
      <ion-label>Professor e gestor de projetos, Tatuí São Paulo</ion-label>
    </ion-col>
  </ion-row>
  <hr>

  

</ion-content>
