#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.img {
  display: block;
  height: 40vh;
  width: 70%;
  padding: 2em;
  --border-radius: 14px !important;
  
}

.img-perfil {
  // display: block;
  height: 75vh;
  width: 75%;
  padding: 2em;
  border-radius: 100%;
  align-items:baseline;
}

.post{
  display: flex;
  flex-direction: column;
  .img-post {
    height: 60vh;
    width: 40%;
    border-radius: 3.125rem;
    align-self: flex-start;
  }
}

.name {
  padding-left: 2em;
  color: #8c8c8c;
}

.container {
  height: 50vh;
  width: 100%;
}
// @media screen and (max-width: 600px){
//   .img, .img-perfil, .img-post {
//     max-height: 20vh;
//     width: 40%;
//   }
// }