<ion-content [fullscreen]="true">
  
  <ion-row class="container">
    <ion-col size="4">
    <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img">
    </ion-col>

    <ion-col size="8">
      <ion-label>
        <h1>Carlitos</h1>
      </ion-label>
      <ion-label>
        <h3>Professor</h3>
      </ion-label>
      <ion-row>
        <ion-button class="ion-padding" color="dark" shape="round">Seguir</ion-button>
        <ion-button class="ion-padding" color="medium" shape="round">Mensagem</ion-button>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>
