* {
  outline: 1px dotted darkorange;
}

ion-content {
  --background: rgb(80,107,255);
  --background: linear-gradient(90deg, rgba(80,107,255,1) 0%, rgba(214,55,224,1) 45%, rgba(255,136,23,1) 100%);
}

.full-height {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}